<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/cart.css" rel="stylesheet" />
    <link href="~/css/flex-slider.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/lightbox.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/men.css" rel="stylesheet" />
    <link href="~/css/owl-carousel.css" rel="stylesheet" />
    <link href="~/css/templatemo-hexashop.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/css/owl-carousel.css">

    <link rel="stylesheet" href="~/css/lightbox.css">
    <link rel="stylesheet" href="~/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/lightbox.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/css/owl-carousel.css">

    <link rel="stylesheet" href="~/css/lightbox.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/css/owl-carousel.css">

    <link rel="stylesheet" href="~/css/lightbox.css">
    <link rel="stylesheet" href="~/css/men.css">
    <link rel="stylesheet" href="~/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/lightbox.css">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/men.css">
    <link rel="stylesheet" href="~/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/lightbox.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/men.css">
    <link rel="stylesheet" href="~/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/lightbox.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <a href="~/fonts/Flaticon.woff"></a>
    <a href="~/fonts/flexslider-icon.eot"></a>
    <a href="~/fonts/flexslider-icon.ttf"></a>
    <a href="~/fonts/flexslider-icon.woff"></a>
    
    <a href="~/fonts/fontawesome-webfont.eot"></a>
    <a href="~/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/fonts/fontawesome-webfont.woff"></a>
    
    <a href="~/fonts/fontawesome-webfont.woff2"></a>>
    <a href="~/fonts/FontAwesome.otf"></a>
    <a href="~/fonts/slick.eot"></a>
    
    <a href="~/fonts/slick.ttf"></a>
    <a href="~/fonts/slick.woff"></a>>
    <script src="~/js/accordions.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/cart.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/isotope.js"></script>
    <script src="~/js/jquery-2.1.0.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/kids.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/men.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/quantity.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/women.js"></script>
</head>
<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">

                        <a href="index.html" class="logo">
                            <img src="~/images/logo2.png" width="75px" height="75px">
                        </a>

                        <ul class="nav">
                            <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "nav_link" })</li>
                            <li>@Html.ActionLink("Men's", "men", "Home", new { @class = "nav_link" })</li>
                            <li>@Html.ActionLink("Women’s", "women", "Home", new { @class = "nav_link" })</li>
                            <li>@Html.ActionLink("kid's", "kids", "Home", new { @class = "nav_link" })</li>
                            <li>@Html.ActionLink("About Us", "about", "Home", new { @class = "nav_link" })</li>
                            <li>@Html.ActionLink("Contact Us", "contact", "Home", new { @class = "nav_link" })</li>
                            <li> @Html.ActionLink("Login ", "login", "Home", null, new { @class = "nav_link" })</li>
                            <li> @Html.ActionLink("Cart ", "cart", "Home", null, new { @class = "nav_link" })</li>








                           
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="~/images/logo2.png" alt="luxe and chic" width="70px" height="70px">
                        </div>
                        <ul>
                            <li><a href="#">Tunisia</a></li>
                            <li><a href="#">chic@company.com</a></li>
                            <li><a href="#">+21629165027</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Men’s Shopping</a></li>
                        <li><a href="#">Women’s Shopping</a></li>
                        <li><a href="#">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
